/*__________BASICS__________*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color-dark: #402b1d;
  --bg-color-medium: #4f3524;
  --bg-color-light: #5c3d2a;
  --text-color: #fff;
}

[data-theme="light"] {
  --bg-color-dark: #fdeded;
  --bg-color-medium: #faf2f2;
  --bg-color-light: #fff;
  --text-color: #4f3524;
}

body {
  margin: 0;
  /*font-family: "Roboto", sans-serif;*/
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 1.7px;
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color-dark);
  color: var(--text-color);
}

h1, h2, h3, h4, p {
  margin: 0;
}
  
img, video {
  display: block;
  width: 100%;
}
  
a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1.7px;
}

li {
  margin-right: 1em;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  letter-spacing: 1.5px;
}

input, textarea {
  padding: 1em;
  font-style: inherit;
  outline: none;
}
input {
  border-radius: 20px;
  border: none;
}

input::placeholder {
  color: inherit;
}

textarea {
  resize: none;
  /*overflow-y: auto;*/
  overflow-y: hidden;
  scrollbar-gutter: stable;
  border-radius: 20px;
  border: none;
}

.image-input-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.image-input-button {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
}

.image-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.image-input-icon {
  width: 100%;
  color: #f29bbe;
}

.image-preview {
  width: 60px; 
  height: 60px; 
  border: 1px solid #f29bbe;
  position: relative;
  margin: .5em;
}

.image-preview-img {
  height: 100%;
  object-fit: cover; 
  object-position: top;
}

.image-preview-btn {
  position: absolute;
  top: -12%;
  right: -12%;
  background-color: rgba(238, 171, 163, .8);
  border-radius: 50%;
  padding: .3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ======= LAYOUTS ======= */

/* NAVIGATION LAYOUT */

.navigation-layout-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.navigation-layout-container-nav {
  background-color: var(--bg-color-light);
  color: #f29bbe;
  padding: .8em 2em;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3em;
  padding-bottom: 2.5em;
}

.navigation-layout-nav-links {
  display: flex;
  flex-direction: column; 
  gap: .8em;
  font-size: 1.2rem;
  color: #f29bbe;
}

.logo-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: #f29bbe;
}

.sign-out-button {
  color: #5c3d2a;
  background: #fff;
  width: 80px;
  border-radius: 30px;
  padding: .7em;
}

/* GROUP CHAT LAYOUT */

.group-chat-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.group-chat-layout-container-nav {
  display: flex;
  justify-content: flex-start; 
  width: 100%;
  gap: 1em;
  background-color: var(--bg-color-medium);
  padding: 1em;
}


/* ======= PAGES ======= */

/* GROUP CHAT */

.group-chat-container {
  display: flex; 
  flex-direction: column;
  flex: 1;
  background-color: var(--bg-color-dark);
}

.group-chat-layout-container {
  display: flex;
  flex-direction: column;
}

.group-chat-layout-container-nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1em;
  color: var(--text-color);
  /*background-color: salmon;*/
  padding: 1em;
}

.new-post-button {
  color: var(--text-color);
  width: 150px;
  border-radius: 30px;
  padding: 1em 1.5em;
  margin: .7em;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: var(--bg-color-light);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow-y: auto;
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

/* MY CHATS */

.my-chats-container {
  padding: 1em;
  height: 100%;
  overflow-y: auto;
}

/* SIGN IN/ SIGN UP */

.sign-in-up-container {
  padding: 2em;
  background-color: var(--bg-color-medium);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
}

.sign-in-up-container h4 {
  color: #f29bbe;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1em;
}

.sign-in-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: 500px;
}

.sign-in-up-button {
  background: #fff;
  padding: 1em 1.2em;
  border-radius: 20px;
}

/* USER PROFILE */

.user-profile-container {
  position: relative; 
  width: 100%;
  background: var(--bg-color-dark);
}

.user-profile-content {
  display: flex; 
  align-items: center; 
  gap: 3em; 
  padding: .5em;
  padding-bottom: .2em;
  background: var(--bg-color-medium);
}

.user-profile-profile-picture {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  object-fit: cover; 
  object-position: top;
}

.user-profile-displayName {
  color: var(--text-color);
  text-align: center; 
  font-size: 1.5rem;
}

.follow-toggle-button {
  text-align: center;
  font-size: 1rem;
  border: .5px solid white;
  color: white;
  padding: '.5em .8em';
  border-radius: 30px;
}

.edit-profile-button {
  border: .5px solid white;
  color: white;
  padding: .5em .8em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.user-profile-description {
  background: var(--bg-color-dark);
  padding: .5em;
  padding-left: 1em;
}

.message-button {
  background: white;
  border-radius: 20px;
  padding: .5em .8em;
  margin: .8em;
}

.edit-profile-form {
  display: flex; 
  flex-direction: column; 
  gap: 1em; 
  margin: 1em;
  color: #f29bbe;
}

.edit-image-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.edit-image {
  position: absolute;
  width: 100%; 
  height: 100%; 
  border-radius: 50%;
  object-fit: cover; 
  object-position: top;
}

.edit-image-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.save-changes-button { 
  border-radius: 20px; 
  color: var(--text-color);
  padding: .5em .8em;
  align-self: center;
}

.user-profile-container-nav {
  display: flex; 
  flex-direction: row; 
  width: 100%;
  padding: .8em;
  background: var(--bg-color-dark);
}

/*======= COMPONENTS =======*/
  
/* CHAT BOX */

.chat-box {
  background-color: var(--bg-color-dark);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; 
  overflow-x: hidden;
}

.chat-box-messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: auto;
  height: 400px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.date {
  background-color: rgba(242, 155, 190, .5);
  color: var(--text-color);
  align-self: center;
  position: sticky;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: .5em;
  border-radius: 10px;
  text-transform: lowercase;
  font-size: .7rem;
  width: 100px;
  text-align: center;
}
 
.chat-box form {
  padding: 1em;
  display: flex;
}

.chat-box-main-label {
  border-radius: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: .5em;
  width: 60%;
}

.chat-box-emoji-picker {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; 
}

.chat-box input {
  flex: 1;
}


.date-divider {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
  font-weight: bold;
  color: #f29bbe;
  position: relative;
}

.date-divider::before,
.date-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #f29bbe;
}

.date-divider::before {
  left: 0;
}

.date-divider::after {
  right: 0;
}

.typing-container {
  display: flex;
  align-items: center;
}

.typing-indicator {
  font-size: .6rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
}

.typing-indicator span {
  width: 6px;
  height: 6px;
  background-color: #f29bbe;
  border-radius: 50%;
  animation: wave 1.5s infinite ease-in-out;
}

.typing-indicator span:nth-child(1) {
  animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 0.3;
  }
  40% {
    transform: translateY(-5px);
    opacity: 1;
  }
}

/* CHAT BOX HEADER */ 

.chat-box-header-container {
  position: sticky;
  top: 0; 
  left: 0; 
  right: 0; 
  background: var(--bg-color-medium); 
  display: flex;
  padding: .5em;
}

.chat-box-header-infos {
  display: flex;
  align-items: center;
  gap: .5em;
}

.chat-box-header-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

/* MESSAGE */


.message-container {
  width: 300px;
  /*margin: 1em;*/
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: .7rem;
  text-transform: lowercase;
  display: flex;
  gap: .3em;
  word-break: break-all;
}

.message-profile-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: top;
  display: inline; 
  border-radius: 50%;
  align-self: start;
}

.message-content {
  padding: .5em 1em;
  border-radius: 15px;
  width: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* COMMENT */

.comment-container {
  display: flex; 
  align-items: flex-start;
  gap: .3em;
  margin-bottom: 1em;
}

.comment-profile-image {
  width: 30px; 
  height: 30px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

.comment-content {
  background: #f7d4d1;
  border-radius: 10px;
  padding: .5em;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.comment-content-image {
  width: 100px;
  cursor: pointer;
}

/* COMMENTS */

.comments-container {
  font-size: .7rem; 
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #4f3524;
}

.comments-form {
  display: flex;
  padding: 1em;
  background-color: #fff;
}

.comments-main-label {
  /*border-radius: 20px; 
  border: .3px solid salmon; */
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: .5em;
}

.comments-profile-image {
  width: 35px; 
  height: 35px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}
/*.comments-form-image-preview {
  width: 40px; 
  height: 40px; 
  object-fit: cover; 
  object-position: top;
  margin: .5em;
}

.comments-image-input-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.comments-image-input-button {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
}

.comments-image-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.comments-emoji-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}*/

.comments-box {
  /*border: 1px solid pink;*/
  height: 500px;
  overflow-y: auto;
  padding: 1em;
}

/* POST */

.post-container {
  background-color: var(--bg-color-light);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
  border-radius: 10px;
  width: 100%;
  min-height: 300px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

/* POST ACTIONS */

.post-actions {
  margin-top: auto;
}

.post-actions-container {
  font-size: .7rem; 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding: .5em 1em;
  color: #f29bbe;
}

.post-actions-buttons {
  display: flex;
  gap: 2em; 
  border-top: .5px solid rgb(247, 198, 193); 
  font-size: .7rem;
  color: #f29bbe;
  padding: 1em;
  padding-top: .5em;
}

.post-actions-like-button {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: .5em;
  color: #f29bbe;
}

/* POST CONTENT */

.post-content {
  flex: 1;
  padding: 1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; /* allows wrapping */
}

/* POST HEADER */

.post-header-container {
  display: flex; 
  align-items: center;
  gap: .5em;
  cursor: pointer;
}

.post-header-profile-image {
  width: 40px; 
  height: 40px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

/* CHAT ITEM */

.chat-item-container {
  background: white;
  border-radius: 20px;
  margin: 0 1em 1em;
  padding: .5em .8em; 
  cursor: pointer;
}

.chat-item-infos {
  display: flex;
  align-items: center;
}

.chat-item-profile-image {
  width: 30px;
  height: 30px; 
  display: inline;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.chat-item-content {
  font-size: .8rem;
  color: #4f3524;
  margin-top: .3em;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  word-break: break-all;
}

/* GROUP CHAT FORM */

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  overflow: auto;
  position: relative;
}

.create-post-form-btn {
  align-self: flex-end;
  color: salmon;
  width: 150px;
  border-radius: 30px;
  padding: 1em;
}

.create-post-main-label {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: .5em;
}

.create-post-profile-image {
  width: 35px; 
  height: 35px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

/* JOIN POP UP */

.join-button {
  font-size: 1rem; 
  background: #f29bbe;
  padding: .7em 1.2em; 
  border-radius: 10px;
}

/* POP UP */

.pop-up-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 155, 190, .7);
  z-index: 9999;
}

.pop-up-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  z-index: 9999;
  height: 70%;
  overflow: hidden;
  background: var(--bg-color-dark);
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.close-pop-up-button {
  position: absolute;
  top: 5%;
  right: 5%;
}

/* USER ITEM */

.user-item-container {
  padding: 2em;
  border-bottom: .5px solid #f29bbe;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5em;
  height: 100px;
}

.user-item-infos {
  display: flex;
  align-items: center; 
  gap: .3em;
}

.user-item-profile-image {
  width: 40px; 
  height: 40px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

.user-item-follow-toggle-button {
  color: salmon;
  padding: .5em .8em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 1em;
}

/* USERS LIST */

.users-list-container {
  background-color: var(--bg-color-light);
  width: 40%;
  padding: 1em .5em;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.active-users-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 80%;
  overflow-y: auto;
}

.users-list-follow-button {
  color: #5c3d2a;
  background: rgb(252, 239, 239);
  width: 250px;
  border-radius: 30px;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: .5em;
}

.active-user-container {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-bottom: 1em;
}

.active-user-profile-image {
  width: 40px; 
  height: 40px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

.activity-btn {
  width: 8px; 
  height: 8px; 
  border-radius: 50%;
  background-color: green;
}

.active-user {
  display: flex;
  align-items: center;
  gap: .5em;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
}

.input-wrapper input {
  padding-left: 32px;
}

/*=======SKELETON=======*/

.skeleton {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

/*========ERRORS=========*/

.fullscreen-error {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.inline-error {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: salmon;
}

/* Target WebKit scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: var(--bg-color-dark);
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;
  border: 2px solid #fcd8e3; /* matches track to create space effect */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4a2715;
}


@media (max-width: 768px) {
  .navigation-layout-container {
    flex-direction: column;
    height: 100vh;
  }

  .navigation-layout-container-nav {
    padding: .8em 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;
    position: fixed;
  }

  .navigation-layout-nav-links {
    flex-direction: row;
    font-size: .8rem;
    align-items: center;
  }


  .sign-out-button {
    font-size: .7rem;
  }

  .group-chat-container {
    height: 500px;
  }

  .posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow-y: auto;
  }

  .post-container {
    width: 60%;
  }

  .pop-up-box {
    width: 80%;
  }

  .user-profile-description {
    padding-left: 0;
  }

  .users-list-container {
  background-color: transparent; 
  padding: 0;
}

  .chat-box {
    width: 100%;
  }
}
