/*__________BASICS__________*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --light: #eed4d4;
  --medium: #5c3d2a;
  --dark: #4f3524;
  --accent: #f05593;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 1.5px;
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  background-color: var(--light);
  color: var(--dark);
}

.dark-border {
  border: .2px solid var(--dark);
}

.light-border {
  border:  .2px solid var(--light);
}

h1, h2, h3, h4, p {
  margin: 0;
}
  
img, video {
  display: block;
  width: 100%;
}

.user-img {
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.user-img-big {
  width: 100px;
  height: 100px;
}

.user-img-medium {
  width: 50px;
  height: 50px;
}

.user-img-small {
  width: 30px;
  height: 30px;
}
  
a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1.5px;
}

li {
  margin-right: 1em;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: .75em 1.5em;
  border-radius: 20px;
  color: var(--dark);
  color: inherit;
  letter-spacing: 1.5px;
}

form {
  position: relative;
}

input, textarea {
  padding: 1em 0;
  font-style: inherit;
  outline: none;
  color: var(--dark);
  background-color: var(--light);
  border: none;
  border-bottom: .2px solid var(--dark);
}

textarea {
  resize: none;
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

input::placeholder,
textarea::placeholder {
  color: #8a7263;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
}

.input-wrapper input {
  padding-left: 32px;
}


.show-popup-btn {
  width: 250px;
  display: flex;
  align-items: center;
  gap: .5em;
  border-radius: 0;
  border-bottom: .2px solid var(--dark);
  padding-left: 0;
  padding-right: 0;
  color: #8a7263;
}

.image-input-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.image-input-button {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
}

.image-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.image-input-icon {
  width: 100%;
  color: var(--dark);
}

.image-preview {
  width: 60px; 
  height: 60px; 
  position: relative;
  margin: .5em;
}

.image-preview-img {
  height: 100%;
  object-fit: cover; 
  object-position: top;
}

.image-preview-btn {
  position: absolute;
  top: -12%;
  right: -12%;
  background-color: rgba(74, 39, 21, .3);
  border-radius: 50%;
  padding: .3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ======= LAYOUTS ======= */

/* NAVIGATION LAYOUT */

.navigation-layout-container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.navigation-layout-container-nav {
  padding: .8em 2em;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3em;
  padding-bottom: 2.5em;
  background-color: var(--medium);
  color: var(--light);
}

.navigation-layout-nav-links {
  display: flex;
  flex-direction: column; 
  gap: .8em;
  font-size: 1.2rem;
}

.navigation-layout-nav-link {
  text-transform: uppercase;
}

.active-nav-link {
  color: var(--accent);
}

.logo-link {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}


/* GROUP CHAT LAYOUT */

.group-chat-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.group-chat-layout-container-nav {
  display: flex;
  justify-content: flex-start; 
  width: 100%;
  gap: .5em;
  padding: 1em;
}


/* ======= PAGES ======= */

/* GROUP CHAT */

.group-chat-container {
  display: flex; 
  flex-direction: column;
  flex: 1;
}

.group-chat-layout-container {
  display: flex;
  flex-direction: column;
}

.group-chat-layout-container-nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1em;
  padding: 1em;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow-y: auto;
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.post-form-icons-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.post-form-icons-container button {
  margin-left: auto;
}

/* MY CHATS */

.my-chats-container {
  width: 100%;
  height: 700px;
  overflow-y: auto;
  position: relative;
}


/* SIGN IN/ SIGN UP */

.sign-in-up-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
}

.sign-in-up-container h4 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1em;
}

.sign-in-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: 500px;
}

/* USER PROFILE */

.user-profile-container {
  position: relative; 
  width: 100%;
}

.user-profile-displayName {
  font-size: 1.5rem;
  font-family: 'Anton', sans-serif;
}

.user-profile-container-nav {
  display: flex; 
  flex-direction: row; 
  padding: 1em 0;
}

.edit-profile-form {
  display: flex; 
  flex-direction: column; 
  gap: 1em; 
  margin: 1em;
}

.edit-image-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.edit-image {
  position: absolute;
  width: 100%; 
  height: 100%; 
  border-radius: 50%;
  object-fit: cover; 
  object-position: top;
}

.edit-image-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}


/*======= COMPONENTS =======*/
  
/* CHAT BOX */

.chat-box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; 
  overflow-x: hidden;
}

.chat-box-messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: auto;
  height: 400px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.date {
  background-color: rgba(79, 53, 36, .3);
  align-self: center;
  position: sticky;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: .5em;
  border-radius: 10px;
  text-transform: lowercase;
  font-size: .7rem;
  width: 100px;
  text-align: center;
}

.chat-box input {
  flex: 1;
}


.date-divider {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
  font-weight: bold;
  color: rgba(79, 53, 36, .4);
  position: relative;
}

.date-divider::before,
.date-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: rgba(79, 53, 36, .4);
}

.date-divider::before {
  left: 0;
}

.date-divider::after {
  right: 0;
}

.typing-container {
  display: flex;
  align-items: center;
}

.typing-indicator {
  font-size: .6rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
}

.typing-indicator span {
  width: 6px;
  height: 6px;
  background-color: rgba(79, 53, 36, .4);
  border-radius: 50%;
  animation: wave 1.5s infinite ease-in-out;
}

.typing-indicator span:nth-child(1) {
  animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 0.3;
  }
  40% {
    transform: translateY(-5px);
    opacity: 1;
  }
}

/* CHAT BOX HEADER */ 

.chat-box-header-container {
  position: sticky;
  top: 0; 
  left: 0; 
  right: 0; 
  display: flex;
  padding: .5em;
}

/* MESSAGE */

.message-container {
  width: 300px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: .7rem;
  text-transform: lowercase;
  display: flex;
  gap: .3em;
  word-break: break-all;
}

.message-content {
  padding: .5em 1em;
  border-radius: 15px;
  width: fit-content;
}

/* COMMENT */

.comment-container {
  display: flex; 
  align-items: flex-start;
  gap: .3em;
  margin-bottom: 1em;
}

.comment-content {
  border-radius: 10px;
  padding: .5em;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: .2px solid var(--dark);
}

.reply-content {
  width: 80%; 
  margin-left: 2em;
}

.comment-content-image {
  width: 100px;
}

/* COMMENTS */

.comments-container {
  font-size: .7rem; 
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.comments-box {
  height: 500px;
  overflow-y: auto;
  padding: 1em;
}

/* POST */

.post-container {
  border: .2px solid var(--dark);
  color: var(--dark);
  border-radius: 10px;
  width: 100%;
  min-height: 300px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

/* POST HEADER */

.post-header-container {
  display: flex; 
  align-items: center;
  gap: .5em;
  cursor: pointer;
}

/* POST CONTENT */

.post-content {
  flex: 1;
  padding: 1em 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; /* allows wrapping */
}

/* POST ACTIONS */

.post-actions {
  margin-top: auto;
}

.post-actions button {
  padding: 0;
}

.post-actions-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding: 1em 0;
}

.post-actions-container button {
  font-size: .7rem;
}

.post-actions-buttons {
  display: flex;
  gap: 2em; 
  border-top: .5px solid var(--dark); 
  font-size: .7rem;
  padding-top: 1em;
}

/* CHAT ITEM */

.chat-item-container {
  border-radius: 30px;
  border: .2px solid var(--dark);
  margin: 1em 1em 0;
  padding: .7em 1em; 
  cursor: pointer;
  width: 60%;
}

.chat-item-infos {
  display: flex;
  align-items: center;
  gap: .5em;
}

.chat-item-content {
  font-size: .75rem;
  margin-top: 1em;
  word-break: break-all;
}

/* USERS LIST */

.users-list-container {
  width: 40%;
  padding: 1em .5em;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.user-item {
  display: flex;
  align-items: center;
  gap: .5em;
}

/* USER CARD */

.user-card-container {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-item-infos {
  display: flex;
  align-items: center; 
  gap: .3em;
}

/* JOIN POP UP */

.join-button {
  font-size: 1rem; 
  padding: .7em 1.2em; 
  border-radius: 30px;
  border: .2px solid var(--dark);
}

/* POP UP */

.pop-up-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 39, 21, .5);
  z-index: 9999;
}

.pop-up-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  z-index: 8888;
  height: 70%;
  /*overflow: hidden;*/
  background: var(--light);
  padding: 1em;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.close-pop-up-button {
  position: absolute;
  top: 5%;
  right: 5%;
}


/*=======SKELETON=======*/

.skeleton {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

/*========ERRORS=========*/

.fullscreen-error {
  background-color: rgba(74, 39, 21, .3);
  color: var(--dark);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.inline-error {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}

/* Target WebKit scrollbars */
::-webkit-scrollbar {
  width: 7px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: var(--light);
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--medium);
  border-radius: 10px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--medium);
}


@media (max-width: 768px) {
  .navigation-layout-container {
    flex-direction: column;
    height: 100vh;
  }

  .navigation-layout-container-nav {
    padding: .8em 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    position: fixed;
    z-index: 9999;
  }

  .navigation-layout-nav-links {
    flex-direction: row;
    font-size: .8rem;
    align-items: center;
  }


  .logo-link {
    font-size: 3.2rem;
  }

  .sign-out-button {
    font-size: .7rem;
  }

  .group-chat-layout-container {
    padding-top: 15em;
  }
  .group-chat-layout-container-nav {
    gap: .5em;
    font-size: .8rem;
  }

  .group-chat-container {
    height: 500px;
  }

  .posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .post-container {
    width: 70%;
  }

  .pop-up-box {
    width: 90%;
  }

  .user-profile-container {
    padding-top: 15em;
  }

  .users-list-container {
  background-color: transparent; 
  padding: 0;
  width: 100%;
}

  .chat-box {
    width: 100%;
    padding-top: 6em;
  }

  .my-chats-content {
    padding-top: 15em;
  }

  .chat-box {
    padding-top: 13em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .chat-item-container {
    width: 80%;
  }

  .comment-content {
    width: 80%;
  }

}
