/*__________BASICS__________*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #000;
  letter-spacing: 1px;
  line-height: 1.6;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  background-color: salmon;
}

h1, h2, h3, h4, p {
  margin: 0;
}
  
img, video {
  display: block;
  width: 100%;
}
  
a {
  text-decoration: none;
  color: inherit;
}

li {
  margin-right: 1em;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

input, textarea {
  padding: 1em;
  font-style: inherit;
  outline: none;
}
input {
  border: .3px solid salmon;
  border-radius: 20px;
}
textarea {
  resize: none;
  overflow-y: auto;
  scrollbar-gutter: stable;
  border: none;
}

.image-input-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.image-input-button {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
}

.image-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.image-input-icon {
  width: 100%;
  color: salmon;
}

.image-preview {
  width: 60px; 
  height: 60px; 
  border: 1px solid hotpink;
  position: relative;
  margin: .5em;
}

.image-preview-img {
  height: 100%;
  object-fit: cover; 
  object-position: top;
}

.image-preview-btn {
  position: absolute;
  top: -12%;
  right: -12%;
  background-color: rgba(238, 171, 163, .8);
  border-radius: 50%;
  padding: .3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ======= LAYOUTS ======= */

/* GROUP CHAT LAYOUT */

.group-chat-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(253, 239, 237);
}

.group-chat-layout-container-nav {
  display: flex;
  justify-content: flex-start; 
  width: 100%;
  gap: 1em;
  color: white;
  background-color: salmon;
  padding: 1em;
}

/* NAVIGATION LAYOUT */

.navigation-layout-container {
  background-color: rgb(238, 171, 163);
  display: flex;
  width: 100%;
  height: 100vh;
}

.navigation-layout-container nav {
  background-color: rgb(241, 137, 125);
  padding: .8em 2em;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3em;
}

.navigation-layout-nav-links {
  display: flex;
  flex-direction: column; 
  gap: .8em;
  font-size: 1.2rem;
}

.logo-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

.sign-out-button {
  border: .3px solid salmon;
  color: salmon;
  background: rgb(253, 248, 248);
  width: 80px;
  border-radius: 30px;
  padding: .7em;
}


/* ======= PAGES ======= */

/* GROUP CHAT */

.group-chat-container {
  display: flex; 
  flex-direction: column;
  flex: 1;
}

.group-chat-layout-container {
  display: flex;
  flex-direction: column;
}

.group-chat-layout-container-nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1em;
  color: white;
  background-color: salmon;
  padding: 1em;
}

.new-post-button {
  border: .3px solid salmon;
  color: salmon;
  background: rgb(253, 248, 248);
  width: 150px;
  border-radius: 30px;
  padding: 1em 1.5em;
  margin: .7em;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow-y: auto;
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MY CHATS */

.my-chats-container {
  padding: 1em;
  height: 100%;
  overflow-y: auto;
}

/* SIGN IN/ SIGN UP */

.sign-in-up-container {
  padding: 2em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  min-height: 100vh;
}

.sign-in-up-container h4 {
  color: salmon;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1em;
}

.sign-in-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  width: 500px;
}

.sign-in-up-button {
  background: #fff;
  padding: 1em 1.2em;
  border-radius: 20px;
  border: .3px solid salmon;
}

/* USER PROFILE */

.user-profile-container {
  position: relative; 
  width: 100%;
  background: #f7c7c7;
}

.user-profile-content {
  display: flex; 
  align-items: center; 
  gap: 3em; 
  padding: .5em;
  padding-bottom: .2em;
  background: #f7a1a1;
}

.user-profile-profile-picture {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  object-fit: cover; 
  object-position: top;
}

.user-profile-displayName {
  color: white;
  text-align: center; 
  font-size: 1.5rem;
}

.follow-toggle-button {
  text-align: center;
  font-size: 1rem;
  border: .5px solid white;
  color: white;
  padding: '.5em .8em';
  border-radius: 30px;
}

.edit-profile-button {
  border: .5px solid white;
  color: white;
  padding: .5em .8em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.user-profile-description {
  background: #f7c7c7;
  padding: .5em;
  padding-left: 1em;
}

.message-button {
  background: white;
  border-radius: 20px;
  padding: .5em .8em;
  margin: .8em;
}

.edit-profile-form {
  display: flex; 
  flex-direction: column; 
  gap: 1em; 
  margin: 1em;
}

.edit-image-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.edit-image {
  position: absolute;
  width: 100%; 
  height: 100%; 
  border-radius: 50%;
  object-fit: cover; 
  object-position: top;
}

.edit-image-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.save-changes-button { 
  border-radius: 20px; 
  color: white;
  padding: .5em .8em;
  align-self: center;
}

.user-profile-container-nav {
  display: flex; 
  flex-direction: row; 
  width: 100%;
  padding: .8em;
  background: #f7c7c7;
}

/*======= COMPONENTS =======*/
  
/* CHAT BOX */

.chat-box {
  background-color: #f1d4d4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; 
  overflow-x: hidden;
}

.chat-box-messages {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow-y: auto;
  height: 400px;
  position: relative;
  overflow-y: scroll;
}

.date {
  background-color: rgba(187, 144, 113, .5);
  align-self: center;
  position: sticky;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: .5em;
  border-radius: 10px;
  text-transform: lowercase;
  font-size: .7rem;
  width: 100px;
  text-align: center;
}
 
.chat-box form {
  background-color: rgb(238, 171, 163);
  padding: 1em;
  display: flex;
}

.chat-box-main-label {
  border: .3px solid salmon; 
  border-radius: 20px;
  background: white;
  display: flex;
  align-items: center;
}

.chat-box-emoji-picker {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; 
}

.chat-box input {
  flex: 1;
}


.date-divider {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
  font-weight: bold;
  color: gray;
  position: relative;
}

.date-divider::before,
.date-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: gray;
}

.date-divider::before {
  left: 0;
}

.date-divider::after {
  right: 0;
}

.typing-container {
  display: flex;
  align-items: center;
}

.typing-indicator {
  font-size: .6rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
}

.typing-indicator span {
  width: 6px;
  height: 6px;
  background-color: #888;
  border-radius: 50%;
  animation: wave 1.5s infinite ease-in-out;
}

.typing-indicator span:nth-child(1) {
  animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes wave {
  0%,
  80%,
  100% {
    transform: translateY(0);
    opacity: 0.3;
  }
  40% {
    transform: translateY(-5px);
    opacity: 1;
  }
}

/* CHAT BOX HEADER */ 

.chat-box-header-container {
  position: sticky;
  top: 0; 
  left: 0; 
  right: 0; 
  background: rgb(238, 171, 163); 
  display: flex;
  padding: .5em;
}

.chat-box-header-infos {
  display: flex;
  align-items: center;
  gap: .5em;
}

.chat-box-header-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

/* MESSAGE */

.message-container {
  width: fit-content;
  max-width: 50%;
  /*margin: 1em;*/
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: 30%;
  font-size: .7rem;
  text-transform: lowercase;
  display: flex;
}

.message-profile-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  object-position: top;
  display: inline; 
  border-radius: 50%;
  align-self: start;
}

.message-content {
  padding: .5em;
  border-radius: 15px;
  width: fit-content;
}

/* COMMENT */

.comment-container {
  display: flex; 
  align-items: flex-start;
  gap: .3em;
  margin-bottom: 1em;
}

.comment-profile-image {
  width: 30px; 
  height: 30px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

.comment-content {
  background: #f7d4d1;
  border-radius: 10px;
  padding: .6em;
}

.comment-content-image {
  width: 100px;
  cursor: pointer;
}

/* COMMENTS */

.comments-container {
  font-size: .7rem; 
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.comments-form {
  display: flex;
  padding: 1em;
  background-color: #fff;
  border-top: .5px solid salmon;
}

.comments-main-label {
  border-radius: 20px; 
  border: .3px solid salmon; 
  display: flex;
  align-items: center;
  gap: 1em;
}

.comments-form-image-preview {
  width: 40px; 
  height: 40px; 
  object-fit: cover; 
  object-position: top;
  margin: .5em;
}

.comments-image-input-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.comments-image-input-button {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
}

.comments-image-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.comments-emoji-picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.comments-box {
  border: 1px solid pink;
  height: 500px;
  overflow-y: auto;
  padding: 1em;
}

/* POST */

.post-container {
  background: white;
  border: .5px solid rgb(247, 198, 193);
  border-radius: 10px;
  width: 100%;
  min-height: 300px;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

/* POST ACTIONS */

.post-actions {
  margin-top: auto;
}

.post-actions-container {
  font-size: .7rem; 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  padding: .5em 1em;
  color: salmon;
}

.post-actions-buttons {
  display: flex;
  gap: 2em; 
  border-top: .5px solid rgb(247, 198, 193); 
  font-size: .7rem;
  color: rgb(243, 85, 68);
  padding: 1em;
  padding-top: .5em;
}

.post-actions-like-button {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: .5em;
  color: salmon;
}

/* POST CONTENT */

.post-content {
  flex: 1;
  padding: 1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal; /* allows wrapping */
}

/* POST HEADER */

.post-header-container {
  display: flex; 
  align-items: center;
  gap: .5em;
  padding: 1em; 
  cursor: pointer;
}

.post-header-profile-image {
  width: 40px; 
  height: 40px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

/* CHAT ITEM */

.chat-item-container {
  background: white;
  border-radius: 20px;
  margin: 0 1em 1em;
  padding: .5em .8em; 
  cursor: pointer;
}

.chat-item-infos {
  display: flex;
  align-items: center;
}

.chat-item-profile-image {
  width: 30px;
  height: 30px; 
  display: inline;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.chat-item-content {
  font-size: .8rem;
  color: salmon;
  margin-top: .3em;
  display: flex;
  justify-content: space-between;
}

/* GROUP CHAT FORM */

.group-chat-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  overflow: auto;
  position: relative;
}

.group-chat-textarea {
  width: 100%;
  max-height: 300px; 
  padding: 1em;
}

.group-chat-form-button {
  align-self: flex-end;
  color: salmon;
  width: 150px;
  border-radius: 30px;
  padding: 1em;
}

.group-chat-form-icons {
  display: flex;
  gap: .5em;
  margin-top: auto;
  justify-content: flex-end;
}

.group-chat-form-emoji-picker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 75%; 
}

/* JOIN POP UP */

.join-button {
  font-size: 1rem; 
  background: salmon; 
  padding: .7em 1.2em; 
  border-radius: 10px;
}

/* POP UP */

.pop-up-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(238, 171, 163, .8);
}

.pop-up-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  z-index: 9999;
  height: 70%;
  overflow: hidden;
  background: white;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.close-pop-up-button {
  position: absolute;
  top: 5%;
  right: 5%;
}

/* USER ITEM */

.user-item-container {
  padding: 2em;
  border-bottom: .5px solid salmon;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5em;
  height: 100px;
}

.user-item-infos {
  display: flex;
  align-items: center; 
  gap: .3em;
}

.user-item-profile-image {
  width: 40px; 
  height: 40px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

.user-item-follow-toggle-button {
  color: salmon;
  padding: .5em .8em;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 1em;
}

/* USERS LIST */

.users-list-container {
  background-color: white; 
  width: 40%;
  padding: 1em .5em;
  color: salmon;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.active-users-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 80%;
  overflow-y: auto;
}

.users-list-follow-button {
  border: .3px solid salmon;
  color: salmon;
  background: rgb(253, 248, 248);
  width: 150px;
  border-radius: 30px;
  padding: 1em;
}

.active-user-container {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-bottom: .5em;
}

.active-user-profile-image {
  width: 30px; 
  height: 30px;
  object-fit: cover;
  object-position: top;
  display: inline;
  border-radius: 50%;
}

.activity-btn {
  width: 8px; 
  height: 8px; 
  border-radius: 50%;
  background-color: green;
}

.active-user {
  display: flex;
  align-items: center;
  gap: .3em;
}

/*=======SKELETON=======*/

.skeleton {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

@media (max-width: 768px) {
  .navigation-layout-container {
    flex-direction: column;
    height: 100vh;
  }

  .navigation-layout-container nav {
    background-color: rgb(241, 137, 125);
    padding: .8em 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;
  }

  .navigation-layout-nav-links {
    flex-direction: row;
    font-size: .8rem;
    align-items: center;
  }


  .sign-out-button {
    font-size: .7rem;
  }

  .group-chat-container {
    height: 500px;
  }

  .post-container {
    width: 60%;
  }

  .pop-up-box {
    width: 80%;
  }

  .users-list-container {
    width: 100%;
    border-top: 1px solid salmon;
 
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .user-profile-description {
    padding-left: 0;
  }

  .chat-box {
    width: 100%;
  }
}